---
interface Props {
  titulo: string;
  
  imagenes: { src: string; alt: string; descripcion: string; rutaId: string; aos: string }[];
}

const { titulo, imagenes } = Astro.props;

import Caratula from './Caratula.astro';
---

<section class="text-left py-10 px-5 ">
  <div class="flex items-center w-full justify-center mb-10">
    <div class="flex-grow border-t border-gray-300 dark:border-gray-600"></div>
    <span class="text-3xl font-bold px-4"data-aos="fade-down">{titulo}</span>
    <div class="flex-grow border-t border-gray-300 dark:border-gray-600"></div>
  </div>
  
  
  <div class="-mx-5">
    
    <div class="flex md:justify-start overflow-x-auto overflow-y-hidden gap-4 flex-nowrap scrollbar-hide px-5 no-scrollbar">
      {imagenes.map((imagen) => (
        <a href={`/cofradia/${imagen.rutaId}`} class="relative" data-aos={imagen.aos} data-aos-delay={(Math.random() * 300).toFixed(0)}>
          <Caratula src={imagen.src} titulo={imagen.alt} descripcion={imagen.descripcion} />
        </a>
        
      ))}
    </div>
  </div>
</section>

<style>
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>
